/* game colors */
.color-1{
    background-color: var(--p-color-1) !important;
}
.color-2{
    background-color: var(--p-color-2) !important;
}

/* cell layout */
.cell{
    background-color: var(--c-color-1);
    width: calc(80vmin / var(--size));
    height: calc(80vmin / var(--size));
    margin: calc(5vmin / var(--size));
    border-radius: var(--cell-radius);
}
.cell:hover::after{
    content: "";
    display: block;
    position: relative;
    width: calc(80vmin / var(--size));
    height: calc(80vmin / var(--size));
    background-color: var(--s-color);
}